body{
    background-color: rgb(234, 211, 217);
}
.head{
    background-color: white;
    height: 50px;
    margin-bottom: 50px;
}
ul{
    list-style-type: none;
    float: right;
    
    
}
li{
    display: inline;
    margin-right: 40px;
    
}
li a{
    text-decoration: none;
    color: black;
}
#homebutton{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 30px;
    color: white;
}
.banner{
    background-color: #EDF2F6;
    border: 20px solid white;
    height: 380px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.bancon{
    float: left;
    padding-top: 70px;
    padding-left: 60px;
}
.bancon p{
    margin-bottom: 50px;
}
#lm{
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin-right: 40px;
}
#ct{
    text-decoration: none;
    background-color: #F8CA77;
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin-right: 20px;
}
.banimg{
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}
.content{
    width: 90%;
    margin: 0 auto;
}
#b1{
    background-color: white;
    width: 31%;
    height: 400px;
    margin-right: 2%;
    float: left;
    
}
#b1sub{
    background-color: #F8CA77;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 40px;
    
}
#sub1im{
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-left: 20px;
}
#b1 p{
    padding-left: 30px;
}
#b2{
    background-color: white;
    width: 32%;
    height: 400px;
    
    float: left;
}
#b2sub{
    background-color: #F8CA77;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 40px;
}
#sub2im{
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-left: 20px;
}
#b2 p{
    padding-left: 30px;
}
#b3{
    background-color: white;
    width: 33%;
    height: 400px;
   
    float: right;
}
#b3sub{
    background-color: #F8CA77;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 40px;
}
#sub3im{
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-left: 20px;
}
#b3 p{
    padding-left: 30px;
}
.footer{
    height: 60px;
    clear: both;
}